::before,
::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Erica One", sans-serif;
  font-weight: 300;
}

body {
  background-color: rgb(12, 12, 12);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 8rem;
  color: rgb(30, 44, 199);
  transition: 0.6s ease;
  margin-bottom: -1.5rem;
}

h1:hover {
  color: rgb(101, 114, 255);
  transform: scale(1.1);
  letter-spacing: 30px;
}

a {
  text-decoration: none;
}

p {
  font-weight: 100;
  font-size: 1.6rem;
  font-family: "Bubblegum Sans", sans-serif;
  color: rgb(190, 199, 30);
  cursor: default;
  margin-bottom: 0.5rem;
}

strong {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  height: 30px;
  width: 120px;
  transition: 0.6s ease;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ccc;
  background-color: rgb(30, 44, 199);
}

.btn:hover {
  background-color: rgb(101, 114, 255);
}

#game-area {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.card {
  width: 200px;
  height: 250px;
  background-color: rgb(30, 44, 199);
  border: 2px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  perspective: 1000px;
  position: relative;
  cursor: pointer;
}

.card.back {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}
